body{
  background-color: cornflowerblue
}
h2{
  color: rgb(14, 41, 159);
  text-align: center;
  background-color: rgb(181, 151, 105);
  padding: 20px;
  margin:0
}
.row{
  background-color: rgb(230, 212, 196);
  margin:70px;
  padding: 30px;
  text-align: center;
}
span{
  color: rebeccapurple;
}
.array{
  color:blue;
}
.other{
  color:black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
